html {
  background-image: url(img/so-white.png);
  font-size: 16px;
}

@media (min-width: 768px) { html { font-size: 18px; } }
@media (min-width: 1200px) { html { font-size: 20px; } }

body {
  max-width: 1000px;
  font-size: 1rem;
  font-family: "Computer Modern Serif";
  margin: auto;
  padding: 2rem;
  color: #222222;
  background: white;
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
}



header {
  display: block;
  margin-bottom: 2em;
}

pagetitle{
  display: block;
  font-size: 3.6rem;
  text-align: center;
  color: #B31B1B;
  font-family: "Roboto Condensed";
  font-variant: small-caps;
  margin: auto;
}

/*logo {
  background: url("img/cornell_seal_simple_web_b31b1b.svg");
  width: clamp(300px, 10vw, 300px);
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
}*/

intro {
  display: block;
  max-width: 74ch;
  margin: auto;
}

p {
  text-indent: 4ch;
  text-align: justify;
}

section {
  margin: 1em 0;
}

section_header {
  display: block;
  font-size: 2.4rem;
  text-align: center;
  /*margin: 2em 0;*/
}

seminar {
  padding: 1rem;
  border: 0px solid #CBCBCB;
  border-radius: 2px;
  margin: 0.5em 0;
  display: block;
}

title_row {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

speaker_row {
  font-style: normal;
  font-size: 1rem;
  display: block;
  margin: 0.5em 0;
}

speaker {
  color: #468081;
  text-decoration: underline;
}

a {
  color: #468081;
}

venue_row {
  /*color: #004;*/
  margin: 0.5em 0;
  font-style: normal;
  font-size: 1rem;
}

venue {
  padding: 0.2em 0;
  /*border: 1px solid black;*/
}

series_row {
  /*display: block;*/
  margin-bottom: 0.5rem;
  overflow: hidden;
}

/*series_row :first-child{
  margin-left: 0;
}*/

series {
  background-color: #246900;
  color: white;
  margin-left: 0.5em;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  /*
  
  display: inline-block;
  height: auto;*/
}

abstract_row {
  display: block;
  width: auto;
  margin: 0.5em 0;
}

abstract_row > details {
  font-style: normal;
  display: block;
}

@media (min-width: 768px) {abstract_row > details {text-align: justify;}}

abstract_row > details > summary {
  color: white;
  background-color: #468081;
  padding: 0.2rem 0.4rem;
  width: fit-content;
  list-style-type: '↦ ';
  border-radius: 8px;
  cursor: pointer;
}

abstract_row > details[open] > summary {
  list-style-type: '↧ ';
  border-radius: 8px 8px 0 0;
}

abstract_row > details > abstract {
  background-color: rgb(255, 252, 238);
  display: block;
  padding: 0.2em 1em;
  border-left: solid 2pt #468081;
  border-right: solid 2pt #468081;
  border-radius: 0 8px 8px 8px;
}

archive > details {
  border-top: 1pt solid black;
  display: block;
  margin: 1em 0 1em 0;
  padding: 1em 0 0 0;
}

archive > details > summary{
  font-size: 2.8rem;
  text-align: center;
  list-style-type: '↦ ';
  cursor: pointer;
}

archive > details > summary:hover{
  color: #468081;
}

archive > details[open] > summary {
  list-style-type: '↧ ';
}

footer {
  display: block;
  margin: auto;
  width: auto;
  text-align: center;
  font-size: 0.8rem;
  margin: 1em 0;
  padding-top: 2em;
  border-top: solid 1pt black;
}

footer::before{ content: "⟨ "; }
footer::after{ content: " ⟩"; }

.katex {
  font-size: 1em;
}